{{#bs-form model=task onSubmit=(perform saveTask) novalidate=true  as |form|}}
  <div class="form-row">
    {{form.element
      controlType="power-select"
      property="category"
      label="Activity"
      options=categories.content
      placeholder="Select..."
      showValidationOn="change"
      data-test-select="category"
      optionLabelPath="name"
      class="col-sm"
    }}
    {{#form.element label="Datetime completed" property="taskFinishedAt" class="col-sm" as |el|}}
      <div data-test-finised-at>
        <PikadayInput @value={{el.value}} @onSelection={{action (mut el.value)}} id={{el.id}} class="form-control"/>
      </div>
    {{/form.element}}
  </div>
  <div class="form-row">
    {{form.element
      controlType="text"
      property="kpiPoints"
      label="How many emails were sent?"
      class="col-sm"
      data-test-kpi-points=true
    }}
  </div>
    <div class="form-row">
    {{form.element
      controlType="textarea"
      property="notes"
      label="Explain what did you do?"
      class="col-sm"
      data-test-notes=true
    }}
  </div>
  <SmartButton @disabled={{v-get task 'isInvalid'}} @loading={{saveTask.isRunning}}>Submit</SmartButton>
  <BsButton data-test-cancel-btn @onClick={{action 'onCancel'}}>Cancel</BsButton>
{{/bs-form}}