<div class="row">
  <div class="col-sm">
    <table class="table">
      <thead>
        <tr>
          <td>Activity</td>
          <td>User</td>
          <td>KPI score</td>
          <td>Activity Goal</td>
          <td>Completed</td>
        </tr>
      </thead>
      <tbody>
        {{#each model as |task|}}
          {{#unless task.isNew}}
            <tr data-test-task-row>
              <td>{{task.category.name}}</td>
              <td>{{task.user.email}}</td>
              <td>{{task.kpiPoints}}</td>
              <td><ActivityGoal @task={{task}}/></td>
              <td>{{moment-calendar task.taskFinishedAt}}</td>
            </tr>
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-sm">
    {{outlet}}
  </div>
</div>