<div class="row">
  <div class="col-sm">
    <div data-test-filter>
      <PowerSelect
        @searchEnabled={{false}}
        @options={{availableDaysFilter}}
        @onchange={{action (mut lastDays)}}
        @selected={{lastDays}}
        as |item|
      >
        Last {{item}} days
      </PowerSelect>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td>Activity</td>
          <td>User</td>
          <td>KPI score</td>
          <td>Activity Goal</td>
          <td>Completed</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {{#each model as |task|}}
          {{#unless task.isNew}}
            <tr data-test-task-row={{task.id}}>
              <td>{{task.category.name}}</td>
              <td>{{task.user.email}}</td>
              <td>{{task.kpiPoints}}</td>
              <td><ActivityGoal @task={{task}}/></td>
              <td>{{moment-calendar task.taskFinishedAt}}</td>
              <td>
                {{#if (can "edit task" task)}}
                  {{#link-to
                    "dashboard.tasks.task.edit"
                    task
                    tagName="button"
                    class="btn"
                    data-test-edit=true}}
                    {{fa-icon "edit"}}
                  {{/link-to}}
                {{/if}}
                {{#if (can "destroy task" task)}}
                  <button class="btn" data-test-destroy onclick={{perform destroyTask task}}>
                    {{fa-icon "trash"}}
                  </button>
                {{/if}}
              </td>
            </tr>
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-sm">
    {{outlet}}
  </div>
</div>